/* General styles */

body {
  margin: 0;
}

body > * {
  padding: 10px;
  font-size: 20px;
  border: 20px solid rgba(0,0,0,0.5);
}

/* specific boxes */

header, footer {
  background-color: blue;
  color: white;
}

main {
  width: 60%;
  border-width: 40px;
  background-color: yellow;
  margin-bottom: 30px;
  margin-top: -50px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 5%;
}

header {

}

footer {
	margin-top: 15px;

}